<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1060353916446-2dmhup8u81a6emkjqk50m8detklrj6op.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1060353916446-2dmhup8u81a6emkjqk50m8detklrj6op</string>
	<key>API_KEY</key>
	<string>AIzaSyC9AhISDbfGqLvVMEQ28kocJ52Z8tN3pX4</string>
	<key>GCM_SENDER_ID</key>
	<string>1060353916446</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>chat-app-1e85e</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-1e85e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1060353916446:ios:312588494339fd32f0f80f</string>
</dict>
</plist>